
/*body*/
body{
    background-color: #efefef;
}


/*right nav*/
.navbar{

}
.navbar-right{
    margin-top: 7px;
    float: right;
}
.navbar-right .btn{
    margin: 1px;
}

/*main body*/
img {

    width: 400px;
    height: 200px;
}

.main{

    margin-left: 5px;
    margin-right: 5px;
    margin-top: -15px;
    background-color: white;
}