

/*carousel*/
#carouselExampleCaptions {
    height: 300px;
}
#carouselExampleCaptions .carousel-inner>.item>img {
    display: block;
    width: 100%;
    height: 300px;
}

/*order model*/
img {

    width: 400px;
    height: 200px;
}
.main{

    margin-left: 5px;
    margin-right: 5px;
    margin-top: -15px;
    background-color: white;
}

/*pageInfo*/
.totalCount{
    margin-bottom: -5px;
}
