/*body */
body{
    background-color: #efefef;
}



/*order detail*/
.order_detail{
    margin: 30px;
    background-color: white;
}


form  .btn-row{
    margin: 20px;
}
form .btn-publish{
    float: right;
}

/*Instruction*/


