<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>login in</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--    <link rel="stylesheet" type="text/css" th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">-->
    <!--    <link rel="stylesheet" type="text/css" th:href="@{/css/login_util.css}">-->
    <!--    <link rel="stylesheet" type="text/css" th:href="@{/css/login_main.css}">-->
    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/index.css}" rel="stylesheet">
    <link th:href="@{/css/common.css}" rel="stylesheet">
</head>

<body>
<!--nav-->
<div th:insert="~{common :: nav}"></div>
<!--carousel photos-->

<!--order model-->
<div class="container-fluid main">
    <div class="row center-block">
        <!--order list-->
        <div class="col-lg-9 col-md-9 col-sm-12">
            <!--title-->
            <h2> <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Order List </h2>
            <!--order show list-->
            <hr>
            <div class="media" th:each="order : ${pageInfo.getList()}">
                <div class="media-left">
                    <a th:href="@{'/order/'+${order.getId()}}">
                        <img class="media-object thumbnail" th:src="@{/images/login_cart.jpg}" alt="screenshot">
                    </a>
                </div>
                <div class="media-body">
                    <h2 class="media-heading"><a th:href="@{'/order/'+${order.getId()}}">[[${order.getTitle()}]]</a></h2>
                    <Strong>Description</Strong>
                    <p th:text="${order.description}" ></p>
                    <Strong>Create Time</Strong>
                    <p th:text="${#dates.format(order.createTime,'dd MMMM yyyy hh:mm:ss')}"></p>
                    <Strong>Deadline</Strong>
                    <p th:text="${order.deadline}"></p>
                </div>
            </div>
            <div class="row pageInfo" text="${pageInfo.getTotal()}">
                <div class="col text-center">
                    <h5 class="totalCount"><strong>Total</strong> [[${pageInfo.getPages()}]] <strong>Pages, </strong> [[${pageInfo.getTotal()}]] <strong>Records</strong></h5>
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li>
                                <a th:if="${pageInfo.pageNum} != 1" th:href="@{/}" aria-label="Firstpage">
                                    <span aria-hidden="true">First</span>
                                </a>
                            </li>
                            <li>
                                <a th:if="${pageInfo.pageNum} != 1" th:href="@{/(pageNum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1)}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <!--first page case -->
                            <li><a th:if="${pageInfo.pageNum}>2" th:href="@{/(pageNum=${pageInfo.pageNum-2})}">[[${pageInfo.pageNum-2}]]</a></li>
                            <li><a th:if="${pageInfo.pageNum}>1" th:href="@{/(pageNum=${pageInfo.pageNum-1})}">[[${pageInfo.pageNum-1}]]</a></li>
                            <li class="active"><a>[[${pageInfo.pageNum}]]</a></li>
                            <li><a th:if="${pageInfo.pageNum} < ${pageInfo.getPages()}" th:href="@{/(pageNum=${pageInfo.pageNum+1})}">[[${pageInfo.pageNum+1}]]</a></li>
                            <li><a th:if="${pageInfo.pageNum} < ${pageInfo.getPages()-1}" th:href="@{/(pageNum=${pageInfo.pageNum+2})}">[[${pageInfo.pageNum+2}]]</a></li>
                            <!--last page case -->

                            <li>
                                <a th:if="${pageInfo.pageNum} != ${pageInfo.getPages()}" th:href="@{/(pageNum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages})}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            <li>
                                <a th:if="${pageInfo.pageNum} != ${pageInfo.getPages()}" th:href="@{/(pageNum=${pageInfo.pages})}" aria-label="Lastpage">
                                    <span aria-hidden="true">Last</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>



        <!--instructions-->
        <div class="col-lg-3 col-md-3 col-sm-12">
            <h2><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span> Introduction </h2>
            <hr>
            <div class="panel panel-info">
                <div class="panel-heading">ShopShare</div>
                <div class="panel-body">
                    A web application platform for Chinese students in UK to share the order to enjoy the promotion activity
                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading">What you can do?</div>
                <div class="panel-body">
                    <p>Search and find a shared order</p>
                    <p>Join others or Initiate a shared order by yourself</p>
                    <p>Social with others</p>
                    <p>Know about the recent promotion activity</p>
                </div>
            </div>
            <div class="panel panel-danger">
                <div class="panel-heading">Promotion Sources</div>
                <div class="panel-body">
                    <p><a th:href="@{https://www.dealmoon.co.uk/}" target="_blank" >Dealmoon 英国省钱快报</a></p>
                    <p><a th:href="@{https://www.honglingjin.co.uk}" target="_blank">RedScarf 红领巾</a></p>
                    <p><a th:href="@{https://www.lookfantastic.com/}" target="_blank">LookFantastic 美妆促销</a></p>
                    <p><a th:href="@{http://www.luisaviaroma.com/}" target="_blank">Luisa Via Roma 奢侈品促销</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/login_main.js}"></script>


</body>

</html>