<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>login in</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--    <link rel="stylesheet" type="text/css" th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">-->
    <!--    <link rel="stylesheet" type="text/css" th:href="@{/css/login_util.css}">-->
    <!--    <link rel="stylesheet" type="text/css" th:href="@{/css/login_main.css}">-->
    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/common.css}" rel="stylesheet">
</head>

<body>
<!--nav-->
<div th:insert="~{common :: nav}"></div>

<!--carousel photos-->

<!--order model-->
<div class="container-fluid main">
    <div class="row center-block">
        <!--order list-->
        <div class="col-lg-9 col-md-9 col-sm-12">
            <!--title-->
            <h2> <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> [[${order.title}]] </h2>
            <span th:text="${}"></span>
            <hr>
        </div>

        <!--instructions-->
        <div class="col-lg-3 col-md-3 col-sm-12">
            <h2>Introduction</h2>
        </div>
    </div>
</div>

<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/login_main.js}"></script>


</body>

</html>