<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>publish share order</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--    <link rel="stylesheet" type="text/css" th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">-->
    <!--    <link rel="stylesheet" type="text/css" th:href="@{/css/login_util.css}">-->
    <!--    <link rel="stylesheet" type="text/css" th:href="@{/css/login_main.css}">-->
    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/publish.css}" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">shopshare</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">shopshare</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search orders">
                </div>
                <button type="submit" class="btn btn-default">Search</button>
                <a th:href="@{/auth/search}"><button type="button" class="btn btn-default">SearchTest</button></a>
            </form>

            <div class="nav navbar-nav navbar-right">
                <div th:if="${session.user} == null" class="row center-block" style="margin-top: 7px">
                    <a th:href="@{/loginPage}"><button type="button" class="btn btn-success">login</button></a>
                    <a th:href="@{/registerPage}"><button type="button" class="btn btn-info">register</button></a>
                </div>

                <div class="btn-group" th:if="${session.user} != null" style="margin-top: 7px">
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        [[${session.user.getUsername()}]] <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/updatePassPage}">update password</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a th:href="@{/logout}">logout</a></li>
                    </ul>
                </div>
            </div>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->


</nav>
<!-- order  model -->
<div class="container-fluid order_detail">
    <div class="row center-block">
        <div class="col-lg-9 col-md-9 col-sm-12">
            <!--title-->
            <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Initiate a shared order</h2>
            <!--form to insert the discount information-->
            <form th:action="@{/auth/publish}" th:method="post">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" th:value="${title}" name="title"
                           placeholder="The order theme" th:onclick="test([[${session.user}]])">
                    <hr>
                </div>

                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" rows="5" id="description" th:value="${description}" name="description"
                              placeholder="Some details like : Total target price? How many people you want? " th:onclick="test([[${session.user}]])">
                    </textarea>
                    <hr>
                </div>

                <div class="form-group">
                    <label for="photo">Screenshot</label>
                    <input type="file" id="photoInServer" th:onclick="test([[${session.user}]])">
                    <input type="text" id="photo" th:value="${photo}" th:onclick="test([[${session.user}]])" name="photo"
                           placeholder="please input the photo file location">
                    <p class="help-block">If you have the discount information screenshot, you could share it here</p>
                    <hr>
                </div>

                <div class="form-group">
                    <label for="tags">Tags</label>
                    <input type="text" class="form-control" id="tags" th:value="${tags}" name="tags"
                           placeholder="please add the tags, use comma(,) to split two or more tags" th:onclick="test([[${session.user}]])">
                    <hr>
                </div>
                <div class="form-group">
                    <label for="deadline">Deadline</label>
                    <input type="text" class="form-control" id="deadline" th:value="${deadline}" name="deadline"
                           placeholder="eg. 2021-09-01 or 2021-09-01 14:30:00" th:onclick="test([[${session.user}]])">
                    <hr>
                </div>
                <div class="row btn-row">
                    <div class="col-lg-8 col-md-4 col-sm-4" th:if="${msg} != null">
                        <div class="alert alert-warning alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <strong><p style="color: red" th:text="${msg}" ></p></strong>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4" style="float: right">
                        <button type="submit" class="btn btn-success btn-publish">Publish</button>
                    </div>
                </div>
            </form>
        </div>
        <!--instructions-->
        <div class="col-lg-3 col-md-3 col-sm-12">
            <h3>Instructions</h3>
            <div class="panel panel-primary">
                <div class="panel-heading">Title</div>
                <div class="panel-body">
                    choose a title so that others could know what you want to buy or share
                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading">Description</div>
                <div class="panel-body">
                    add more details like target price, how many people, the deadline for the promotion
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">Screenshot</div>
                <div class="panel-body">
                    if there is an photo to help others to understand your needs, upload it here
                </div>
            </div>
            <div class="panel panel-warning">
                <div class="panel-heading">Tags</div>
                <div class="panel-body">
                    choose a title so that others could know what you want to buy or share
                </div>
            </div>
        </div>
    </div>
</div>

<!--pop up warning message-->
<!-- Modal -->
<div class="modal fade" id="noUserWarning" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h2>Please login first</h2>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><h4>Close</h4></button>
                <a th:href="@{/loginPage}"><button type="button" class="btn btn-primary"><h4>Login</h4></button></a>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/login_main.js}"></script>

<script type="text/javascript">
    function test(user) {
        // alert("hello");
        //alert(user);
        //var user = session.getAttribute("user");
        if(user == null){
            $('#noUserWarning').modal('show');
        }
    }

</script>
</body>



</html>